## Pandas Data frame 
- A tabular repreented in rows and columns 
-A two D labeled DS

In [3]:
import pandas as pd
## implementation using series
df ={
    'collection one': pd.Series(data=[12, 200, 250, 300, 400], index= ['Emma', 'Lynn', 'Liz', 'Nsubuga', 'Anitah']),
    'collection two': pd.Series(data=[60, 20, 500, 70, 90], index= ['Emma', 'Lynn', 'Liz', 'Nsubuga', 'Anitah']),
    'collection three': pd.Series(data=[45, 300, 500, 700, 100], index= ['Emma', 'Lynn', 'Liz', 'Nsubuga', 'Anitah']),
    
}
dataframe = pd.DataFrame(df)
dataframe

         collection one  collection two  collection three
Emma                 12              60                45
Lynn                200              20               300
Liz                 250             500               500
Nsubuga             300              70               700
Anitah              400              90               100

In [5]:
pd.DataFrame(dataframe, index=["Lynn"], columns=["collection one", "collection three"])

      collection one  collection three
Lynn             200               300

In [6]:
dataframe.iloc[[1,]]

      collection one  collection two  collection three
Lynn             200              20               300